# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\IT ACADEMY\1921\Штучний інтелект та великі дані\projects_from_repository\course_in_-ITSTEP-ACADEMY_Artificial_Intelligence_And_Big_Data-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
